body {
    background-color: white
}

h1 {
    font-size: 50px;
}
img:hover {
    background-color: yellow;
}
/* ***************************** Class selector****************************** */
.bacon {
background-color: green;
}

.broccoli {
    background-color:red
}

.broccoli {
    border-radius: 100%;
}
 /* ***************************** Class selector****************************** */

 #heading {
    color:blue;
 }


img {
    background-color:blue
}